body
{
	font-family: 'Roboto', sans-serif !important;
}

/*CATEGORIE BOUTONS DU HAUT*/
#menu

{
	 border-color: transparent;
	 align-items: center;
	 padding-right: 1%;
}

#logo
{
	height: inherit;
	width: 64px;
}
.item
{
	color: #484848 !important;
}
.item:hover
{
	background-color: transparent !important;
}

.liens:hover
{
	border-bottom: solid 2px #484848;
}

/*CATEGORIE TITRES*/

h1
{
	font-size: calc(0.5vw + 42px) !important;
	line-height: calc(0.7vw + 48px) !important;

}

.airbnbtitle
{
	font-weight: 700;
	color: #FF5A5F;
}


.subtitle
{
	color: #484848;
}

/*CATEGORIE SEARCHBAR*/

.icon
{
	width: 80%;
}

input
{
	color: #484848;
	border: none !important;
}
.placeholder
{
	color: #484848;
}

#searchbar
 {
 	border:solid 1px rgba(156, 160, 171, 0.25);
 	border-radius: 3px;
 	position: relative;
 	height: 74px; 
 	width: 100%
 	box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
 	padding-top: 5px;
 	margin-top: 20px;
 }

#bouton1
{
	padding-top:12px;
	padding-right: 10px;
	height: 100%;
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
}

#boutonsearchbar
{
	background-color: #FF5A5F;
	color: #FFFFFF;
}

.button
{
	height: 80%;
}

.row
{
text-align: left;
}

/*CATEGORIE EXPLORER AIRBNB*/

#cellule
{
	width: 20%;
	height: 20%;
}

.column{
	text-align: left !important;
}

.columnimg
{
	margin-left: 15%;
	margin-right: 10%;
	padding: 5px;
	border-radius: 10px;
}

.celluletitre
{

}

.celluletext{
	max-width: 300px;
}

.celluleprix{
	font-size: 14px;
}

.celluleetoiles
{
	
}

/*CATEGORIE FOOTER*/