body
{
	font-family: 'Roboto', sans-serif;
}

#menu
{
	 border-color: transparent;
	 align-items: center;
	 padding-right: 1%;
}

#logo
{
	height: inherit;
	width: 64px;
}
.item
{
	color: #484848 !important;


}
.item:hover
{
	background-color: transparent !important;
}

.liens:hover
{
	border-bottom: solid 2px #484848;

}

h1
{
	font-size: calc(0.5vw + 42px) !important;
	line-height: calc(0.7vw + 48px) !important;
}

.airbnbtitle
{
	font-weight: 700;
	color: #FF5A5F;
}

.segment
{
	border-color: white !important;
	margin-left: 20% !important;
}